*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root {
    --text-color:#0A0708;
    --primary-color: #167D7F;
    --secondary-color: #98D7C2;
    --accent: #E2808A;
}
body {
    font-family:'Ubuntu', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background: gray;
}
header, .daily, .quirk{
    display: grid;
    place-items: center;
}
nav {
    display: flex;
    margin: 15px 10px;
    justify-content: space-evenly;
    width: 100%;
}
nav a {
    text-decoration: none;
    padding: 1px 3px;
    border: 1px black dashed;
    background: var(--secondary-color);
    cursor: pointer;
}
a:hover {
    background: var(--accent);
}
.sidebar {
    position: fixed;
    display: unset;
    padding: 0;
    font-weight: 400;
    background: var(--primary-color);
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    max-width: 300px;
    transform: translateX(-100%);
    transition: transform .3s;
}
.sidebar h3 {
    padding: .5em;
}
.sidebar ul{
    list-style-type: square;
    padding: 1em;
    width: 100%;
}
.sidebar ul li {
    width: 100%;
    margin: .25em;
}

.back-btn {
    transform: scaleX(-1);
    padding: 1em;
    cursor: pointer;
    transition: transform .3s;
}
.back-btn:hover {
    transform: scaleX(-1) translateX(6px);
}
h1 {
    font-weight: 700;
    color: var(--accent);
}
h2 {
    text-decoration: underline;
    margin-bottom: .2em;
}
.description {
    font-weight: 400;
    text-align: center;
}
main>div {
    display: grid;
    place-items: center;
}
#food {
    margin: 1em 0em;
}
.labels, .events {
    display: grid;
    grid-template-columns: 20% 30% auto;
    width: 100%;
    margin: 0em .5em;
    padding: .5rem;
    color: var(--text-color);
}
.schedule {
    display: grid;
    place-items: center;
    max-width: 800px;
    padding: .25rem;
}
.labels {
    background: var(--primary-color);
    color: var(--accent);
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.events {
    background: var(--secondary-color);
    border-bottom: 1px solid black;
}
.events:last-of-type{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.events>p {
    font-size: clamp(.5rem, 2rem);
    font-weight: 300;
}
.quirk {
    max-width: 800px;
    margin: .5em;
}