*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --text-color:#0A0708;
    --primary-color: #167D7F;
    --secondary-color: #98D7C2;
    --accent: #E2808A;
}
body {
    font-family:'Ubuntu', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
header {
    display: grid;
    place-items: center;
}
h1{
    font-weight: 700;
    color: var(--accent);
}
main>div {
    display: grid;
    place-items: center;
}
.labels, .events {
    display: grid;
    grid-template-columns: 20% 30% auto;
    width: 100%;
    margin: .5em;
    padding: 1em;
    color: var(--text-color);
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.schedule {
    border-radius: 10px;
}
.labels {
    background: var(--primary-color);
    color: var(--accent);
}
.events>p {
    font-weight: 300;
    border-bottom: 1px solid black;
}
